<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>

    <section class="contenedor">
        <div class="caja">
            <h2>Caja 1</h2>
        </div>
    
        <div class="caja">
            <h2>Caja 2</h2>
        </div>
    
        <div class="caja">
            <h2>Caja 3</h2>
        </div>
    </section>
    
</body>
</html>