<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
    <% for( let i = 0; i < personajes.length; i++ ) { %>
        <li>
            <h3><a href="/character/<%=personajes[i].id %>" > <%= personajes[i].name %></a></h3>
        </li>
    <% } %>
    </ul>

</body>
</html>