<header>
    <nav>
        <ul>
            <li><a href="">ITEM</a></li>
            <li><a href="">ITEM</a></li>
            <li><a href="">ITEM</a></li>
            <li><a href="">ITEM</a></li>
            <li><a href="">Iniciar sesion</a></li>
        </ul>
    </nav>
</header>