<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Page</title>
</head>
<body <%= data.color ? 'style=background-color:' + data.color : '' %>>

	<% if(typeof data !='undefined'){ %>
		  <p>Hola <%= data.name %>, gracias por visitarnos.</p>
	<% } %>

        <button><a href="/">Volver al inicio</a></button>
</body>
</html>