<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Titulo de la pestaña</title>

        <link rel="stylesheet" href="/stylesheets/index.css">
    <!-- Dentro del head va toda la configuracion del html y las dependencias -->
    </head>
    <body>
        <!-- En el body va la info que ve el usuario -->
        <h1 id="titulo" class="texto-rojo">Contenido</h1>  
        <br>
        <img alt="Imagen de un perrito" src="/img/perrito.jpg">

        <a href="/home">Ir a la home</a>
        <!-- localhost:3030/home -->

        

        <p class="fondo-azul texto-rojo bg-light wd-100"> 1. <span class="resaltar">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio cupiditate enim ut eum</span>. Voluptatibus exercitationem laudantium tempora, ex quod vel temporibus ullam rem aut explicabo, doloribus quibusdam, quia ea eum?</p>

        <p id="p-medio"> 2. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio cupiditate enim ut eum. Voluptatibus exercitationem laudantium tempora, ex quod vel temporibus ullam rem aut explicabo, doloribus quibusdam, quia ea eum?</p>

        <p class="fondo-azul"> 3. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio cupiditate enim ut eum. Voluptatibus exercitationem laudantium tempora, ex quod vel temporibus ullam rem aut explicabo, doloribus quibusdam, quia ea eum?</p>


alt+z
        
    </body>
</html>